<!DOCTYPE html>
<html lang="ko">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    
    <!----------------------- KakaoTalk API 스크립트 ------------------------->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!------------------------------------------------------------------------>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}"/>
</head>

<body>
    {% include "base.html" %}
    
    <main>
        <div class="try">
            <h1>sommoong</h1>

            <p class="social-login-title">다른 서비스로 로그인</p>

            <div class="social-login-container">
                <img src="{% static 'img/google.png' %}" alt="">
                <img src="{% static 'img/naver.png' %}" alt="">
                <img style="cursor: pointer;" src="{% static 'img/kakaotalk.png' %}" alt=""  onclick="loginWithKakao();">
                <!--
                    <a id="custom-login-btn" href="javascript:loginWithKakao();">
                    <img style="cursor: pointer;" src="{% static 'img/kakaotalk.png' %}" alt="">
                    </a>
                -->
                <img src="{% static 'img/facebook.png' %}" alt="">
            </div>
            
            <form class="login-form" method="post" action='{% url "login" %}'>
                {% csrf_token %}
                <div class="login-input-container ">
                    <p>ID</p>
                    <input type="text"  name="username" class="account" placeholder="ID 입력">
                </div>
                    
                <div class="login-input-container">
                    <p>PW</p>
                    <input type="password" name="password" class="account" placeholder="비밀번호 입력">
                </div>
                <!--
                <input type="hidden" name="remember_session" value="1">
                -->
                <button class="login" type="submit" onclick="">로그인</button>
                <div class ="login-detail">
                  </div>
            </form>
            

            <div class ="login-detail">


<!--
                <div class="lgoin-status">
                    <img class="checkbox_checked" src="{% static 'img/checkbox_checked.png' %}" alt="">
                    <p>로그인 상태 유지</p>
                </div>
-->
                <div class="login-finder-signup">
                    
                    <input type="checkbox" name="remember_session" class="checkbox_checked" checked>
                    
                    <p>로그인 상태 유지</p>
                    <p>|</p>
                    <a href="">아이디 찾기</a>
                    <p>|</p>
                    <a href="">비밀번호 재설정</a>
                    <p>|</p>
                    <a href="{% url 'signup'  %}">회원가입</a> 
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        Kakao.init('{{ kakao_key }}');
        Kakao.isInitialized();
        
        function loginWithKakao() {
            Kakao.Auth.login({
                success: function(authObj) {
                    console.log(JSON.stringify(authObj));
                    Kakao.API.request({
                        url: '/v2/user/me',
                        data: {
                            property_keys: ["kakao_account.profile.nickname"]
                        },
                        
                        success: function(response) {
                            console.log(response);
                            let name = response["kakao_account"]['profile']['nickname'];
                            let id = "k"+response['id'];
                            var data = {
                                'name' : name,
                                'id' : id
                            };
                            // console.log(authObj.access_token);
                            // document.write(response.nickname+"님 환영합니다.");
                            
                            $.ajax({
                                type: "POST",
                                url: "{% url 'auth_kakao' %}",
                                headers: {
                                    'X-CSRFToken' : '{{csrf_token}}'
                                },
                                data: JSON.stringify(data),
                                success : function(res){
                                // if(idChk==true)
                                //     console.log("회원가입중...");
                                //     $.ajax({
                                //         url: " url 'signup_k'",
                                //         method : "POST",
                                //         headers: {
                                //             'X-CSRFToken' : '{{csrf_token}}'
                                //         },
                                //         data : JSON.stringify({
                                //             userId : response.id,
                                //             userName : response.nickname,
                                //             }),
                                //             success : function(JSONData){
                                //             alert("회원가입이 정상적으로 되었습니다.");
                                //             $("form").attr("method","POST").attr("action","/").attr("target","_parent").submit();
                                //         }
                                //     })
                                //     if(idChk==false){ 
                                //         console.log("로그인중...");
                                //         $("form").attr("method","POST").attr("action","/account/signup_k/").attr("target","_parent").submit();
                                //     }
                                    console.log('success!!');
                                    location.replace('/member/login');
                                },
                            });
                        },
                        fail: function(error) {
                            console.log(error);
                        }
                    });
                },
                fail: function(err) {
                    alert(JSON.stringify(err));         
                }
            });
        }
    </script>
    
</body>
</html>