<!DOCTYPE html>
<html lang="ko">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
</head>
<body>  
    {% include "base.html" %}

    <main>
        <form class="login-form" method="post" action='{% url "signup" %}'>
            {% csrf_token %}
            <div class="try">
                <div class="essential-notice">
                    <h1>기본정보</h1>
                
                    <div class="essentail-notice-box">
                        <p class="essential-notice-star">*</p>
                        <p class="essential-notice-title">필수입력 정보 입니다</p>
                    </div>
                </div>

                <div class="base-signup-wrap">
                    <div class="base-signup-container">
                        <p>*</p>
                        <input type="text" name="username" placeholder="아이디 (4~12자 영문과 숫자)">
                    </div>

                    <div class="base-signup-container">
                        <p>*</p>
                        <input type="password" name="password" placeholder="비밀번호 (10자 이상, 영문, 숫자, 특수문자)">
                    </div>

                    <div class="base-signup-container">
                        <p>*</p>
                        <input type="password" name="passwordCheck" placeholder="비밀번호 확인">
                    </div>
                </div>    

                <h1>회원정보</h1>


            
                <div class="client-signup-wrap">
                    <div class="client-signup-container">
                        <p class="">*</p>
                        <input type="text" name="mb_name" placeholder="이름">
                    </div>

                    <div class="client-signup-container">
                        <input type="text" name="email" placeholder="이메일">
                    </div>

                
                    <div class="client-box-wrap">
                        <div class="client-signup-container client-signup-box">
                            <p>*</p>
                            <input type="text" name="mb_hp" placeholder="휴대폰 번호 (-없이 숫자만 입력)">
                        </div>

                        <button class="self-auth-btn" type="submit">본인인증</button>
                    </div>

                    
            

                    <div class="client-box-wrap">
                        <div class="client-signup-box-two">
                            <p>*</p>
                            <input type="text" name="mb_code" placeholder="인증번호">
                        </div>

                        <button class="confirm-btn" type="submit">확인</button>
                        <button class="resend-btn">재전송</button>
                    </div>

                    
                </div>
        
                <input class="signup-btn" type="submit" value="가입하기">
            </div>
        </form>
    </main>

    <!-------------------------------------------- 인증 번호 발송 Handler ------------------------------------>
    <script>
        const btn = document.getElementsByClassName('self-auth-btn')[0];
        const resend_btn = document.getElementsByClassName('resend-btn')[0]; 
        const confirm_btn = document.getElementsByClassName('confirm-btn')[0]; 

        btn.onclick = function (e) {
            e.preventDefault();
            const hp = document.getElementsByName('mb_hp')[0];

            if (hp.value != "") {
                var xhr = new XMLHttpRequest();
                xhr.responseType='json';

                xhr.onload = function(){
                    if (xhr.response == 200){
                        data = xhr.response// 성공 코드가 여기 들어갈 것!
                    }
                    else {
                        // 실패 코드가 여기 들어갈 것!
                    }

                };

                xhr.open('POST', '/member/sendcode/', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(`{"mb_hp":"${hp.value}"}`);
            } 
            else {  }  
        };

        resend_btn.onclick = function (e) {
            e.preventDefault();
            const hp = document.getElementsByName('mb_hp')[0];

            if (hp.value != "") {
                var xhr = new XMLHttpRequest();
                xhr.responseType='json';

                xhr.onload = function(){
                    if (xhr.response == 200){
                        // 성공 코드가 여기 들어갈 것!
                    }
                    else {
                        // 실패 코드가 여기 들어갈 것!
                    }

                };

                xhr.open('POST', '/member/sendcode/', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(`{"mb_hp":"${hp.value}"}`);
            } 
            else {  
                // 전화번호를 입력해달라는 코드!!
            }  
        };


        confirm_btn.onclick = function (e) {
            e.preventDefault();
            const code = document.getElementsByName('mb_code')[0];

            if (code.value != "") {
                var xhr = new XMLHttpRequest();
                xhr.responseType='json';

                xhr.onload = function(){
                    if (xhr.response == 200){
                        data = xhr.response// 성공 코드가 여기 들어갈 것!
                    }
                    else {
                        // 실패 코드가 여기 들어갈 것!
                    }

                };

                xhr.open('POST', '/member/verify/', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(`{"mb_code":"${code.value}"}`);
            } 
            else {  
                // 전화번호를 입력해달라는 코드!!
            }  
        };
    </script>
    <!---------------------------------------------------------------------------------------------------------->


</body>
</html>